@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Raleway';
  overflow-x:hidden
}
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(4, 10, 23, 0.1);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(211, 48, 28, 0.4);
  border-radius: 14px;
  border: 3px solid rgba(4, 10, 23, 0.2);
}