@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Raleway';
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(23, 4, 23, 0.1);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(120, 16, 120, 0.4);
  border-radius: 14px;
  border: 3px solid rgba(23, 4, 23, 0.2);
}
